.box {
    height: 955px;
    width: 1778px;
}

.box .rectangle {
    background-color: var(--off-white);
    border-radius: 20px;
    height: 955px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1778px;
}
