.image {
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.8s ease-out;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.image.transitioning {
    opacity: 0;
}

.image .animation-white-BG {
    height: 100vh;
    width: 100vw;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
}
