.box {
    height: 315px;
    position: relative;
    width: 232px;
}

.box .pharmacy-image {
    height: 315px;
    left: 0;
    position: fixed;
    top: 0;
    width: 232px;
    cursor: pointer;
}

.box .group {
    height: 49px;
    left: 0;
    position: absolute;
    top: 266px;
    width: 232px;
}

.box .overlap-group-wrapper {
    height: 49px;
    width: 234px;
}

.box .overlap-group {
    background-color: var(--lime);
    border-radius: 36px;
    height: 49px;
    position: relative;
    width: 232px;
    transition: all 0.3s ease;
}

.box .text-wrapper {
    color: var(--nigeria-green);
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    transition: all 0.3s ease;
}

.box .pharmacy {
    height: 226px;
    left: 34px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 163px;
    transition: all 0.3s ease;
}

/* Hover state */
.box .pharmacy-image:hover .overlap-group {
    background-color: var(--off-white);
    border: 2px solid var(--lime);
}

.box .pharmacy-image:hover .text-wrapper {
    color: #1f664b;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-weight: 800;
    left: 75px;
    top: 13px;
}

.box .pharmacy-image:hover .pharmacy {
    height: 234px;
    left: 30px;
    width: 171px;
}
